TryItPage/Connected Services/XMLService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50442/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Verification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RULxml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="URLxsd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addComputer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="screen_size" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="year" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pro_Thread" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pro_Arch_model" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pro_Arch_generation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pro_clock" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pro_cache" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Sto_cache" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="Sto_main" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sto_harddrive" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addComputerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addComputerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XPathSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="URLxml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XPathSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XPathSearchResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>